* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: iran;
}
html,
body {
  direction: rtl;
}
@font-face {
  font-family: iran;
  src: url(../desktop.css/font/IRANYekanWeb-Medium.eot);
    src: url(../desktop.css/font/IRANYekanWeb-Medium.ttf);
    src: url(../desktop.css/font/IRANYekanWeb-Medium.woff);
    src: url(../desktop.css/font/IRANYekanWeb-Medium.woff2);
}
:root {
  --width: 100%;
  --font--family: iran;
}
.wrapper {
  width: 100%;
}
